.debug .container {
    height: 100%;
    min-height: 100px;
    border: 1px solid black;
}

.debug [class *="col-"] {
    height: 100%;
    min-height: 100px;
    background-color: red;
    border: 1px solid black;
}

header {
    margin-top: 100px;
}

h1 {
    text-align: center;
    margin-bottom: 50px;
}
h3 {
    margin-left: 5%; 
}
img {
    height: 200px;
}
p{
    text-align: center;
}

main {
    margin: 100px 0;
    background-color: #f9f9f9;
}

footer .container {
    margin: 100px auto;
    background-color: #f9f9f9;
}